// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2025 Qualcomm Innovation Center, Inc. All rights reserved.
 * Copyright (c) 2025 Aleksandrs Vinarskis <alex.vinarskis@gmail.com>
 */

/dts-v1/;

#include "x1e80100.dtsi"
#include "x1-asus-zenbook-a14.dtsi"

/ {
	model = "ASUS Zenbook A14 (UX3407RA)";
	compatible = "asus,zenbook-a14-ux3407ra", "qcom,x1e80100";
};

&gpu {
	status = "okay";
};

&gpu_zap_shader {
	firmware-name = "/*(DEBLOBBED)*/";
};

&remoteproc_adsp {
	firmware-name = "/*(DEBLOBBED)*/",
			"/*(DEBLOBBED)*/";

	status = "okay";
};

&remoteproc_cdsp {
	firmware-name = "/*(DEBLOBBED)*/",
			"/*(DEBLOBBED)*/";

	status = "okay";
};
